.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    background-color: white;
    color: #585858;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 12px;
    margin-left: 12px;
}

.headerTitleContainer {
    display: flex;
    align-items: center;
    margin-right: 20px;
    color: #585858;
    text-decoration: none;
}

.headerLogo {
    height: 40px;
}

.headerTitle {
    margin-left: 40px;
    font-weight: bold;
}
.headerTitleASK {
    margin-left: 10px;
    font-weight: bold;
}
.headerNavList {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.headerNavPageLink {
    color: #5d378f;
    text-decoration: none;
    opacity: 0.75;

    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    transition-duration: 500ms;
    transition-property: opacity;
}

.headerNavPageLink:hover {
    opacity: 1;
}

.headerNavPageLinkActive {
    color: #5d378f;
    text-decoration: none;
}

.headerNavLeftMargin {
    margin-left: 0px;
}

.headerRightText {
    font-weight: normal;
    margin-left: 20px;
}
.architecture {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: max-content;
    width: max-content;
    margin: auto;
    gap: 15px;
}
.archimg {
    height: 500px;
    width: 900px;
    display: block;
}
.button1 {
    margin-left: 20px;
    background-color: #5d378f;
    color: white;
    border: 2px solid;
    border-radius: 6px;
    font-size: 16px;
    padding: 8px 12px;
    /* font-weight: bold; */
}

.button1:hover {
    background-color: #008cba;
    color: white;
}
.microsoftLogo {
    height: 23px;
    font-weight: 600;
}

/* .githubLogo {
    height: 60px;
} */
.btn-box {
    display: flex;
    justify-content: end;
    align-items: center;
}
.back-btn {
    background-color: #5d378f;
    padding: 5px 10px;
    color: white;
}
